<div class="wrap_slider" data-no-turbolink>
	<div class="slider show-for-landscape">
	  <div><%= image_tag( 'presentes/Ap_10.jpg', alt:'Sala')%></div>
	  <div><%= image_tag( 'presentes/Ap_20.jpg', alt:'Cozinha')%></div>
	  <div><%= image_tag( 'presentes/Ap_30.jpg', alt:'Quarto')%></div>
	  <div><%= image_tag( 'presentes/Ap_40.jpg', alt:'Quarto bebê')%></div>
	</div>
	<div class="slider show-for-portrait">
	  <div><%= image_tag( 'presentes/Ap_10.jpg', alt:'Sala')%></div>
	  <div><%= image_tag( 'presentes/Ap_20.jpg', alt:'Cozinha')%></div>
	  <div><%= image_tag( 'presentes/Ap_30.jpg', alt:'Quarto')%></div>
	  <div><%= image_tag( 'presentes/Ap_40.jpg', alt:'Quarto bebê')%></div>
	</div>
</div>
