<h1 class="customfont-cursive text-center">Cerimônia e Festa</h1>

<div class="row medium-collapse large-collapse text-center">
	<div class="small-12 medium-4 medium-offset-2 columns">
		<%= link_to image_tag('igreja.jpg', alt: 'igreja'), asset_url('igreja.jpg'), class:"cerimonia"%>
	</div>
	<div class="medium-4 small-12 columns end">
		<ul class="vcard stretch">
			<li class="fn">Igreja São Pedro Apóstolo</li>
  			<li class="street-address">R. Ibitinga, 838 
  			<br>Parque da Mooca</li>
  			<li class="locality">São Paulo</li>
  			<li><span class="state">SP</span>, <span class="zip">03186-020</span></li>
  			<li class="show-for-small-only">
  			<div style="margin-top:20px;">
  			<%= image_tag('waze.jpg', alt:'waze') %>
  			<a class="button radius" href="waze://?ll=-23.5666636,-46.5813633&navigate=yes">Ir com WAZE</a>
  			</div>
  			</li>
		</ul>
	</div>
</div>
<div class="row show-for-medium-up medium-collapse large-collapse text-center">
	<div class="medium-4 medium-offset-2 columns">
		<ul class="vcard stretch">
			<li class="fn">Tamisa Buffet</li>
  			<li class="street-address">Av. Dr. José Higino, 865<br>Água Rasa</li>
  			<li class="locality">São Paulo</li>
  			<li><span class="state">SP</span>, <span class="zip">03189-040</span></li>
		</ul>	
	</div>
	<div class="medium-4 columns end">
		<%= link_to image_tag('buffet.jpg', alt: 'festa'), asset_url('buffet.jpg'), class:"cerimonia"%>
	</div>
</div>


<div class="row show-for-small-only text-center">
	<div class="small-12 columns">
		<%= link_to image_tag('buffet.jpg', alt: 'festa'), asset_url('buffet.jpg'), class:"cerimonia"%>
	</div>
	<div class="small-12 columns">
		<ul class="vcard stretch">
			<li class="fn">Tamisa Buffet</li>
  			<li class="street-address">Av. Dr. José Higino, 865 - Água Rasa</li>
  			<li class="locality">São Paulo</li>
  			<li><span class="state">SP</span>, <span class="zip">03189-040</span></li>
  			<li>
  			<div style="margin-top:20px;">
  			<%= image_tag('waze.jpg', alt:'waze') %>
  			<a class="button radius" href="waze://?ll=-23.5678914,-46.5770047&navigate=yes">Ir com WAZE</a>
  			<div>
  			</li>
		</ul>	
	</div>
</div>
</div>