<% provide(:title, "Galeria de Fotos") %>
<h1 class="text-center customfont-cursive">Galeria de Fotos</h1>
<p class="text-center"><small>Fotos: <a class="fc-webicon facebook" href="https://www.facebook.com/YuriLombardiFilms/?fref=photo" target="_blank">Yuri Lombardi Films</a></small></p>

<div class="gallery" data-no-turbolink>
<!--Fotos Yuri-->
<div class = "row">
    <div class= "small-12 columns">

	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 pic1">
	  	<li>
		    <figure data-index="0">
			        <a href="<%=image_path('albuns/P&H-10.jpg')%>" data-size="1200x800">
			            <img class="fit_w" src="<%=image_path('albuns/P&H-10_500_375.jpg')%>"  alt='Foto1'/>
			        </a>
		    	<figcaption></figcaption>
		    </figure>
	   </li>
	   <li>
			<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-1">
					<li>
						<figure data-index="1">
				        	<a href="<%=image_path('albuns/P&H-103.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-103_500_375.jpg')%>"  alt='Foto2'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
					<li>
						<figure data-index="2">
				        	<a href="<%=image_path('albuns/P&H-11.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-11_500_375.jpg')%>"  alt='Foto3'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
			  </ul>
		</li>
	</ul>
	<ul class="small-block-grid-3">
		<li>
			<figure data-index="3">
	        	<a href="<%=image_path('albuns/P&H-117.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-117_500_375.jpg')%>"  alt='Foto4'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="4">
	        	<a href="<%=image_path('albuns/P&H-12.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-12_500_375.jpg')%>"  alt='Foto5'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="5">
	        	<a href="<%=image_path('albuns/P&H-121.jpg')%>" data-size="600x900">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-121_500_375.jpg')%>"  alt='Foto6'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
	</ul>

	</div>
</div>
<!--Fotos Yuri 2-->
<div class = "row">
    <div class= "small-12 columns">

	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 pic1">
	  	<li>
		    <figure data-index="6">
			        <a href="<%=image_path('albuns/P&H-126.jpg')%>" data-size="1200x800">
			            <img class="fit_w" src="<%=image_path('albuns/P&H-126_500_375.jpg')%>"  alt='Foto7'/>
			        </a>
		    	<figcaption></figcaption>
		    </figure>
	   </li>
	   <li>
			<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-1">
					<li>
						<figure data-index="7">
				        	<a href="<%=image_path('albuns/P&H-13.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-13_500_375.jpg')%>"  alt='Foto8'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
					<li>
						<figure data-index="8">
				        	<a href="<%=image_path('albuns/P&H-130.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-130_500_375.jpg')%>"  alt='Foto9'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
			  </ul>
		</li>
	</ul>
	<ul class="small-block-grid-3">
		<li>
			<figure data-index="9">
	        	<a href="<%=image_path('albuns/P&H-138.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-138_500_375.jpg')%>"  alt='Foto10'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="10">
	        	<a href="<%=image_path('albuns/P&H-145.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-145_500_375.jpg')%>"  alt='Foto11'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="11">
	        	<a href="<%=image_path('albuns/P&H-143.jpg')%>" data-size="600x900">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-143_500_375.jpg')%>"  alt='Foto12'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
	</ul>

	</div>
</div>
<!--Fotos Yuri 3-->
<div class = "row">
    <div class= "small-12 columns">

	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 pic1">
	  	<li>
		    <figure data-index="12">
			        <a href="<%=image_path('albuns/P&H-151.jpg')%>" data-size="1200x800">
			            <img class="fit_w" src="<%=image_path('albuns/P&H-151_500_375.jpg')%>"  alt='Foto13'/>
			        </a>
		    	<figcaption></figcaption>
		    </figure>
	   </li>
	   <li>
			<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-1">
					<li>
						<figure data-index="13">
				        	<a href="<%=image_path('albuns/P&H-152.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-152_500_375.jpg')%>"  alt='Foto14'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
					<li>
						<figure data-index="14">
				        	<a href="<%=image_path('albuns/P&H-159.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-159_500_375.jpg')%>"  alt='Foto15'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
			  </ul>
		</li>
	</ul>
	<ul class="small-block-grid-3">
		<li>
			<figure data-index="15">
	        	<a href="<%=image_path('albuns/P&H-161.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-161_500_375.jpg')%>"  alt='Foto16'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="16">
	        	<a href="<%=image_path('albuns/P&H-168.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-168_500_375.jpg')%>"  alt='Foto17'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="17">
	        	<a href="<%=image_path('albuns/P&H-170.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-170_500_375.jpg')%>"  alt='Foto18'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
	</ul>

	</div>
</div>
<!--Fotos Yuri 4-->
<div class = "row">
    <div class= "small-12 columns">

	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 pic1">
	  	<li>
		    <figure data-index="18">
			        <a href="<%=image_path('albuns/P&H-178.jpg')%>" data-size="1200x800">
			            <img class="fit_w" src="<%=image_path('albuns/P&H-178_500_375.jpg')%>"  alt='Foto19'/>
			        </a>
		    	<figcaption></figcaption>
		    </figure>
	   </li>
	   <li>
			<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-1">
					<li>
						<figure data-index="19">
				        	<a href="<%=image_path('albuns/P&H-180.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-180_500_375.jpg')%>"  alt='Foto20'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
					<li>
						<figure data-index="20">
				        	<a href="<%=image_path('albuns/P&H-183.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-183_500_375.jpg')%>"  alt='Foto21'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
			  </ul>
		</li>
	</ul>
	<ul class="small-block-grid-3">
		<li>
			<figure data-index="21">
	        	<a href="<%=image_path('albuns/P&H-188.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-188_500_375.jpg')%>"  alt='Foto22'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="22">
	        	<a href="<%=image_path('albuns/P&H-192.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-192_500_375.jpg')%>"  alt='Foto23'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="23">
	        	<a href="<%=image_path('albuns/P&H-202.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-202_500_375.jpg')%>"  alt='Foto24'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
	</ul>

	</div>
</div>
<!--Fotos Yuri 5-->
<div class = "row">
    <div class= "small-12 columns">

	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 pic1">
	  	<li>
		    <figure data-index="24">
			        <a href="<%=image_path('albuns/P&H-23.jpg')%>" data-size="600x900">
			            <img class="fit_w" src="<%=image_path('albuns/P&H-23_500_375.jpg')%>"  alt='Foto25'/>
			        </a>
		    	<figcaption></figcaption>
		    </figure>
	   </li>
	   <li>
			<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-1">
					<li>
						<figure data-index="25">
				        	<a href="<%=image_path('albuns/P&H-3.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-3_500_375.jpg')%>"  alt='Foto26'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
					<li>
						<figure data-index="26">
				        	<a href="<%=image_path('albuns/P&H-41.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-41_500_375.jpg')%>"  alt='Foto27'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
			  </ul>
		</li>
	</ul>
	<ul class="small-block-grid-3">
		<li>
			<figure data-index="27">
	        	<a href="<%=image_path('albuns/P&H-45.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-45_500_375.jpg')%>"  alt='Foto28'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="28">
	        	<a href="<%=image_path('albuns/P&H-60.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-60_500_375.jpg')%>"  alt='Foto29'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="29">
	        	<a href="<%=image_path('albuns/P&H-63.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-63_500_375.jpg')%>"  alt='Foto30'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
	</ul>

	</div>
</div>
<!--Fotos Yuri 6-->
<div class = "row">
    <div class= "small-12 columns">

	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 pic1">
	  	<li>
		    <figure data-index="30">
			        <a href="<%=image_path('albuns/P&H-72.jpg')%>" data-size="1200x800">
			            <img class="fit_w" src="<%=image_path('albuns/P&H-72_500_375.jpg')%>"  alt='Foto31'/>
			        </a>
		    	<figcaption></figcaption>
		    </figure>
	   </li>
	   <li>
			<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-1">
					<li>
						<figure data-index="31">
				        	<a href="<%=image_path('albuns/P&H-73.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-73_500_375.jpg')%>"  alt='Foto32'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
					<li>
						<figure data-index="32">
				        	<a href="<%=image_path('albuns/P&H-84.jpg')%>" data-size="1200x800">
				            <img class="fit_w" src="<%=image_path('albuns/P&H-84_500_375.jpg')%>"  alt='Foto33'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
			  </ul>
		</li>
	</ul>
	<ul class="small-block-grid-3">
		<li>
			<figure data-index="33">
	        	<a href="<%=image_path('albuns/P&H-85.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-85_500_375.jpg')%>"  alt='Foto34'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="34">
	        	<a href="<%=image_path('albuns/P&H-91.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-91_500_375.jpg')%>"  alt='Foto35'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="35">
	        	<a href="<%=image_path('albuns/P&H-97.jpg')%>" data-size="1200x800">
	            <img class="fit_w" src="<%=image_path('albuns/P&H-97_500_375.jpg')%>"  alt='Foto36'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
	</ul>

	</div>
</div>
<!--Fotos Englaterra-->
<div class = "row">
    <div class= "small-12 columns">

	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 pic1">
	  	<li>
		    <figure data-index="36">
			        <a href="<%=image_path('albuns/carrocel_1200_900.jpg')%>" data-size="1200x900">
			            <img class="fit_w" src="<%=image_path('albuns/carrocel_500_375.jpg')%>"  alt='Foto37'/>
			        </a>
		    	<figcaption></figcaption>
		    </figure>
	   </li>
	   <li>
			<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-1">
					<li>
						<figure data-index="37">
				        	<a href="<%=image_path('albuns/garden_1200_900.jpg')%>" data-size="1200x900">
				            <img class="fit_w" src="<%=image_path('albuns/garden_500_375.jpg')%>"  alt='Foto38'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
					<li>
						<figure data-index="38">
				        	<a href="<%=image_path('albuns/pier_1200_900.jpg')%>" data-size="1200x900">
				            <img class="fit_w" src="<%=image_path('albuns/pier_500_375.jpg')%>"  alt='Foto39'/>
				        	</a>
			    			<figcaption></figcaption>
			    		</figure>
					</li>
			  </ul>
		</li>
	</ul>
	<ul class="small-block-grid-3">
		<li>
			<figure data-index="40">
	        	<a href="<%=image_path('albuns/pier_kiss_1200_900.jpg')%>" data-size="1200x900">
	            <img class="fit_w" src="<%=image_path('albuns/pier_kiss_500_375.jpg')%>"  alt='Foto41'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="41">
	        	<a href="<%=image_path('albuns/tong_1200_1600.jpg')%>" data-size="1200x1600">
	            <img class="fit_w" src="<%=image_path('albuns/tong_500_375.jpg')%>"  alt='Foto42'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
		<li>
			<figure data-index="42">
	        	<a href="<%=image_path('albuns/tree_1200_900.jpg')%>" data-size="1200x900">
	            <img class="fit_w" src="<%=image_path('albuns/tree_500_375.jpg')%>"  alt='Foto43'/>
	        	</a>
    			<figcaption></figcaption>
    		</figure>
		</li>
	</ul>

	</div>
</div>
</div>






<% content_for :javascript do %>
<%= javascript_include_tag "photoswipe.min",'data-turbolinks-track' => false %>
<%= javascript_include_tag "photoswipe-ui-default.min",'data-turbolinks-track' => false %>
<%= javascript_include_tag "fotos",'data-turbolinks-track' => false %>
<% end %>

<% content_for :foto_gallery do %>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" data-no-turbolink>

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
<%end%>