<% provide(:title, "Locais") %>
<h1 class="text-center customfont-cursive">Locais</h1>
<div class="row">
<div class="small-12 medium-6 large-4 columns">
	<ul class="vcard str">
	  <li class="text-center"><%=image_tag('hotel.svg', alt: "hotel")%></li>
	  <li class="fn">Hotel Paes de Barros</li>
	  <li>Av. Paes de Barros</li>
	  <li>613 - Mooca,São Paulo	</li>
	  <li><span>SP</span>, <span>03115-020</span></li>
	  <li><a href="mailto:contato@hotelpaesdebarros.com.br"><i class="fi-mail">&nbsp</i>contato@hotelpaesdebarros.com.br</a></li>
	  <li><a href="tel://11-2605-5238"><i class="fi-telephone">&nbsp</i>(11) 2605-5238</a></li>
	  <li><a href="http://hotelpaesdebarros.com.br/" target="_blank"><i class="fi-web">&nbsp</i>hotelpaesdebarros.com.br</a></li>
	</ul>
</div>
<div class="small-12 medium-6 large-4 columns">
	<ul class="vcard str">
	  <li class="text-center"><%=image_tag('hotel.svg', alt: "hotel")%></li>
	  <li class="fn">Hotel Três Poderes</li>
	  <li>Rua do Oratório</li>
	  <li>622 - Mooca,São Paulo</li>
	  <li><span>SP</span>, <span>03116-000</span></li>
	  <li><i class="fi-mail">&nbsp</i></li>
	  <li><a href="tel://11-2601-0744"><i class="fi-telephone">&nbsp</i>(11) 2601-0744</a></li>
	  <li><a href="http://www.hoteltrespoderes.com.br/" target="_blank"><i class="fi-web">&nbsp</i>www.hoteltrespoderes.com.br</a></li>
	</ul>
</div>
<div class="small-12 medium-6 large-4 columns">
	<ul class="vcard str">
	  <li class="text-center"><%=image_tag('hotel.svg', alt: "hotel")%></li>
	  <li class="fn">Mooca Hostel Atlântica</li>
	  <li>Rua Padre Raposo</li>
	  <li>563 - Mooca,São Paulo</li>
	  <li><span>SP</span>, <span>03118-000</span></li>
	  <li><a href="mailto:moocahostel@moocahostel.com.br"><i class="fi-mail">&nbsp</i>moocahostel@moocahostel.com.br</a></li>
	  <li><a href="tel://11-2601-0744"><i class="fi-telephone">&nbsp</i>(11) 2537-7978</a></li>
	  <li><a href="http://moocahostel.com.br/" target="_blank"><i class="fi-web">&nbsp</i>moocahostel.com.br</a></li>
	</ul>
</div>
<div class="small-12 medium-6 large-4 columns">
	<ul class="vcard str">
	  <li class="text-center"><%=image_tag('hotel.svg', alt: "hotel")%></li>
	  <li class="fn">Hotel Mustang</li>
	  <li>Rua Tobias Barreto</li>
	  <li>108 - Mooca,São Paulo</li>
	  <li><span>SP</span>, <span>03176-000</span></li>
	  <li><i class="fi-mail">&nbsp</i></li>
	  <li><a href="tel://11-2601-5668"><i class="fi-telephone">&nbsp</i>(11) 2601-5668</a></li>
	  <li><a href="http://www.hotelmustang.com.br/" target="_blank"><i class="fi-web">&nbsp</i>www.hotelmustang.com.br</a></li>
	</ul>
</div>
<div class="small-12 medium-6 large-4 columns">
	<ul class="vcard str">
	  <li class="text-center"><%=image_tag('hotel.svg', alt: "hotel")%></li>
	  <li class="fn">Blue Tree Towers Anália Franco</li>
	  <li>Rua Eleonora Cintra</li>
	  <li>960 - Anália franco,São Paulo</li>
	  <li><span>SP</span>, <span>03337-000</span></li>
	  <li><a href="mailto:reservas.afranco@bluetree.com.br"><i class="fi-mail">&nbsp</i>reservas.afranco@bluetree.com.br</a></li>
	  <li><a href="tel://11-2672-7000"><i class="fi-telephone">&nbsp</i>(11) 2672-7000</a></li>
	  <li><a href="http://www.bluetree.com.br/" target="_blank"><i class="fi-web">&nbsp</i>www.bluetree.com.br</a></li>
	</ul>
</div>
<div class="small-12 medium-6 large-4 columns">
<div id="salao"></div>
	<ul class="vcard str">
	  <li class="text-center"><%=image_tag('hotel.svg', alt: "hotel")%></li>
	  <li class="fn">Hotel Tryp Tatuapé</li>
	  <li>Rua Serra de Juréa</li>
	  <li>351 - Tatuapé,São Paulo</li>
	  <li><span>SP</span>, <span>03323-020</span></li>
	  <li><a href="mailto:tryp.tatuape@melia.com"><i class="fi-mail">&nbsp</i>tryp.tatuape@melia.com</a></li>
	  <li><a href="tel://11-2942-4900"><i class="fi-telephone">&nbsp</i>(11) 2942-4900</a></li>
	  <li><a href="http://www.melia.com/" target="_blank"><i class="fi-web">&nbsp</i>www.melia.com</a></li>
	</ul>

</div>

<div class="small-12 medium-6  large-4 columns">
	<ul class="vcard str">
	  <li class="text-center"><%=image_tag('salao.svg', alt: "salao")%></li>
	  <li class="fn">Belfemme Estética e Maquiagem</li>
	  <li>Rua Japuruchitá</li>
	  <li>78 - Alto da Mooca,São Paulo</li>
	  <li><span>SP</span>, <span>03128-070</span></li>
	  <li><a href="mailto:belfemme@belfemme.com.br"><i class="fi-mail">&nbsp</i>belfemme@belfemme.com.br</a></li>
	  <li><a href="tel://11-2021-5699"><i class="fi-telephone">&nbsp</i>(11) 2021-5699</a></li>
	  <li><a href="http://www.belfemme.com.br/" target="_blank"><i class="fi-web">&nbsp</i>www.belfemme.com.br</a></li>
	</ul>
</div>
<div class="small-12 medium-6 large-4 columns">
	<ul class="vcard str">
	  <li class="text-center"><%=image_tag('salao.svg', alt: "salao")%></li>
	  <li class="fn">Salão Ambiant</li>
	  <li>Av. Paes de Barros</li>
	  <li>155 - Mooca,São Paulo</li>
	  <li><span>SP</span>, <span>03115-020</span></li>
	  <li><a href="mailto:atendimento@ambiant.com.br"><i class="fi-mail">&nbsp</i>atendimento@ambiant.com.br</a></li>
	  <li><a href="tel://11-2292-3839"><i class="fi-telephone">&nbsp</i>(11) 2292-3839</a></li>
	  <li><a href="http://salaoambiant.com.br/" target="_blank"><i class="fi-web">&nbsp</i>salaoambiant.com.br</a></li>
	</ul>
</div>
<div class="small-12 medium-6 large-4 end columns">
	<ul class="vcard str">
	  <li class="text-center"><%=image_tag('salao.svg', alt: "salao")%></li>
	  <li class="fn">Bourbon Boutique & Estetica</li>
	  <li>Rua Bixira</li>
	  <li>109 - Mooca,São Paulo</li>
	  <li><span>SP</span>, <span>03119-020</span></li>
	  <li><a href="mailto:bourbonboutiqueestetica@gmail.com"><i class="fi-mail">&nbsp</i>bourbonboutiqueestetica@gmail.com</a></li>
	  <li><a href="tel://11-2613-1902"><i class="fi-telephone">&nbsp</i>(11) 2613-1902</a></li>
	  <li><a href="https://www.facebook.com/Bourbon-Boutique-Estetica-718036464935892/?fref=ts" target="_blank"><i class="fi-social-facebook">&nbsp</i>Bourbon-Boutique-Estetica</a></li>
	</ul>
</div>
</div>

