<% provide(:title, 'Edit - R.S.V.P') %>
<h1 class="text-center">Editar Dados do Convidado</h1>
<div class="row">
	<div class="medium-6 medium-centered columns">
	<%= form_for(@confirmation) do |f| %>

		<%= f.label :name , "Nome (o mesmo do convite)" %>
		<%= f.text_field :name%>

		<%= f.label :email , "E-mail" %>
		<%= f.email_field :email%>
        

        <%= f.label :guets, "Convidados" %>
        <%= select( :confirmation, :guets, options_for_select((1..10).map{|a| [a,a]}, @confirmation.guets))%>

        <%= f.label :phone, "Telefone (opcional)"%>
        <%= f.phone_field :phone%>
        

        <%= f.submit "Confirmar", class: "button expand" %>

    <% end %>
    </div>
</div>
