<div id="footer">
	<div class="row small-only-text-center" style="position:relative;">
		<div class="medium-4 columns">
			<h4 class="customfont-serif"><i class="fi-heart">&nbsp;</i>Pamela & Henrique</h4>
		 	<ul class="no-bullet">
		 		<li><%= link_to 'R.S.V.P.', rsvp_path%></li>
		 		<li><%= link_to 'Presentes', presentes_path %></li>
		 		<!--<li>< link_to "Presentes", "https://www.querodecasamento.com.br/lista-de-casamento/pamela-henrique/", target:"_blank" ></li>-->  
		 		<li><%= link_to 'Cerimônia', '/#map'%></li>
		 		<li><%= link_to 'Mensagens', '/#msg'%></li>
		 		<li><%= link_to 'Hotéis', locais_path%></li>
		 		<li><a href="/locais/#salao">Salões de Beleza</a></li>
		 		<li><%= link_to 'Galeria de Fotos', fotos_path%></li>
		 		<li><%= link_to '#casamentopamehenrique', instagram_path%></li>
		 	</ul>
			</div>

			<div id="contato" class="medium-6 columns small-only-text-center medium-text-right">
				<ul class="no-bullet">
					<li><a href="tel://12-98103-0415"><i class="fi-telephone">&nbsp;</i>(12)98103-0415</a></li>
					<li><a href="
					mailto:casamentopamehenrique@gmail.com"><i class="fi-mail">&nbsp;</i>casamentopamehenrique@gmail.com</a></li>
				</ul>
			</div>
	</div>
	<!--<div class="text-center"><small><i class="fi-heart">&nbsp;</i>visitas: </small></div>-->
	<div class="text-center"><small>copyright&copy;2015 - Site desenvolvido por Henrique Schumann Costa</small></div>
</div>